@import 'bourbon/bourbon';
@import 'neat/neat';

/* colors */

$menubody: #3d4fff;
$menuhighlight: #4487ff;
$selectorcolor: #e4ff4a;
$bordercolor: #cdcdcd;

/* fonts */

$game-font: 'Press Start 2P', cursive;

/* element styles */

$border-box-sizing: true !default;

.outer-wrapper {
  position: absolute;

  .testhdr {
    font-family: $game-font;
    }
}

.background {
  position: relative;
  margin: 0 auto;
  background-image: url('https://twistedsifter.files.wordpress.com/2013/05/animated-gifs-of-fighting-game-backgrounds-14.gif');
  background-position: center center;
  background-size: cover;
  padding: 0;
  width: 1200px;
  height: 500px;
}

.foreground {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  height: 500px;
}

.mainheader {
  @include shift(3);
  height: 50px;
  vertical-align: middle;
  color: white;
  font-family: $game-font;
}

h3 {
  @include shift(4);
  margin-top: 35px;
  vertical-align: middle;
  color: white;
  font-family: $game-font;
}

.footer {
  border: 5px solid #4487ff; 
  background-color: #3d4fff;
  width: 1200px;
  height: 150px;
}

.header {
  border: 5px solid #4487ff;
  background-color: #3d4fff;
  width: 1200px;
  height: 100px;
}

.hero {
  position: relative;
  background-image: url('images/jcvd.gif');
  background-position: center center;
  background-size: cover;
  padding: 0;
  width: 200px;
  height: 200px;
}
